Repository aioqzone/pychaosvm: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black, pytest

poetry:
  name: poetry check
  entry: poetry check
  pass_filenames: false
  language: system

isort:
  name: isort (python)
  entry: poetry run isort .
  pass_filenames: false
  language: system

black:
  name: Black
  entry: poetry run black .
  pass_filenames: false
  language: system

pytest:
  name: pytest-check
  entry: poetry run pytest tests
  language: system
  pass_filenames: false

feat: extract exact op name from SwitchOps
  scripts/generate_opfeats.py
  src/chaosvm/opfeats.py
  src/chaosvm/vm_switch.py
Due: isort, black, pytest

refactor(vm)!: add UnifiedOps class for shared VM operations
  pyproject.toml
  scripts/generate_opfeats.py
  src/chaosvm/opfeats.py
  src/chaosvm/stack.py
  src/chaosvm/vm.py
  src/chaosvm/vm_funarr.py
  src/chaosvm/vm_switch.py
  src/chaosvm/vm_unified.py
  uv.lock
Due: poetry, isort, black, pytest

refactor: refactor syntax_hash function in stxhash.py for better comprehension
  .gitignore
  src/chaosvm/stxhash.py
  tests/test_parse.py
Due: isort, black, pytest

fix: code 11 is missing
  src/chaosvm/vm_switch.py
Due: isort, black, pytest

ci: add checking for opfeats.py
  .github/workflows/test.yml
  pyproject.toml
Due: poetry

feat: simplify generate script
  .gitignore
  js/template/funarr_pattern.js
  js/template/switch_pattern.js
  pyproject.toml
  scripts/generate_opfeats.py
  src/chaosvm/opfeats.py
  src/chaosvm/vm_funarr.py
  tests/test_switch_vm.py
  uv.lock
Due: poetry, isort, black, pytest

feat: refactor getting funarr_op_names, fix failed tests
  scripts/generate_opfeats.py
  src/chaosvm/vm.py
  src/chaosvm/vm_funarr.py
Due: isort, black, pytest

feat!: generate opfeats.py from JS snippet
  .gitignore
  js/snippet/U.js
  pyproject.toml
  scripts/generate_opfeats.py
  src/chaosvm/opfeats.py
  src/chaosvm/parse.py
  src/chaosvm/stxhash.py
  src/chaosvm/vm.py
  uv.lock
Due: poetry, isort, black, pytest

bump versioin
  .gitignore
  uv.lock
Due: none

refactor: make `syntax_hash` return a hash. rename origin function `syntax_feat`
  scripts/generate_opfeats.py
  src/chaosvm/stxhash.py
  tests/test_feat.py
Due: isort, black, pytest

bump version
  pyproject.toml
  uv.lock
Due: poetry

feat: impl function call in vm_switch
  pyproject.toml
  src/chaosvm/vm_switch.py
  uv.lock
Due: poetry, isort, black, pytest

Path conditions:
  poetry: any of: pyproject.toml
  isort: any of: \.py$
  black: any of: \.py$
  pytest: any of: \.py$
