Repository aioqzone/pychaosvm: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black, pytest

poetry:
  name: poetry check
  entry: poetry check
  pass_filenames: false
  language: system

isort:
  name: isort (python)
  entry: poetry run isort .
  pass_filenames: false
  language: system

black:
  name: Black
  entry: poetry run black .
  pass_filenames: false
  language: system

pytest:
  name: pytest-check
  entry: poetry run pytest tests
  language: system
  pass_filenames: false

build(deps): merge #30
  .github/dependabot.yml
  .pre-commit-config.yaml
  poetry.lock
Due: none

build(deps): update lxml constain
  poetry.lock
  pyproject.toml
Due: poetry

bump version
  pyproject.toml
Due: poetry

build(deps): merge #36
  poetry.lock
  pyproject.toml
Due: poetry

fix: try to fix #38
  pyproject.toml
  src/chaosvm/proxy/builtins.py
  tests/test_parse.py
Due: poetry, isort, black, pytest

doc: add docstring
  src/chaosvm/__init__.py
Due: isort, black, pytest

doc: update readme
  README.md
Due: none

build(deps): relock
  poetry.lock
Due: none

test: remove opmap length assertion
  poetry.lock
  pyproject.toml
  src/chaosvm/__init__.py
  src/chaosvm/parse.py
  tests/test_parse.py
Due: poetry, isort, black, pytest

ci: fix release is always skipped
  .github/workflows/build.yml
Due: none

build!: use uv instead of poetry
  .github/workflows/build.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry

fix: specify module-name
  pyproject.toml
Due: poetry

fix: searchElement of array.indexof overrided by loop var (#85)
  pyproject.toml
  src/chaosvm/parse.py
  src/chaosvm/proxy/builtins.py
  src/chaosvm/stxhash.py
  tests/test_feat.py
Due: poetry, isort, black, pytest

feat: enhance Number processing (#86)
  src/chaosvm/proxy/builtins.py
Due: isort, black, pytest

feat: add Undefined type, fix incompatible json.stringify (#87)
  pyproject.toml
  src/chaosvm/proxy/builtins.py
  src/chaosvm/proxy/dom.py
  src/chaosvm/vm.py
  uv.lock
Due: poetry, isort, black, pytest

bump version
  pyproject.toml
  uv.lock
Due: poetry

fix: add separators to dumps to get compact json (#87)
  src/chaosvm/proxy/builtins.py
Due: isort, black, pytest

feat: improve Number when input is NULL and Number
  src/chaosvm/proxy/builtins.py
Due: isort, black, pytest

fix: encoding error in btoa (#91)
  src/chaosvm/proxy/dom.py
Due: isort, black, pytest

fix: node mismatch (#94)
  .gitignore
  pyproject.toml
  src/chaosvm/parse.py
  src/chaosvm/stxhash.py
  src/chaosvm/vm.py
  tests/test_parse.py
  uv.lock
Due: poetry, isort, black, pytest

ci: update test python version
  .github/workflows/test.yml
Due: none

chore(deps): update dependencies
  uv.lock
Due: none

doc(readme): update license peried
  README.md
Due: none

fix: resolve #97
  src/chaosvm/parse.py
Due: isort, black, pytest

fix: KeyError: 'left' 错误
  src/chaosvm/parse.py
Due: isort, black, pytest

ci: add workflow for updating uv deps
  .github/dependabot.yml
  .github/workflows/test.yml
  .github/workflows/update-uv-deps.yml
  pyproject.toml
Due: poetry

test: add new test url
  .pre-commit-config.yaml
  pyproject.toml
  src/chaosvm/parse.py
  src/chaosvm/stxhash.py
  tests/test_parse.py
  uv.lock
Due: poetry, isort, black, pytest

refactor: use ',' as Array element delimiter
  pyproject.toml
  src/chaosvm/stxhash.py
  src/chaosvm/vm.py
  uv.lock
Due: poetry, isort, black, pytest

feat: enhance VM parsing and execution with auto-detection and improved error handling
  src/chaosvm/parse.py
  src/chaosvm/vm.py
  src/chaosvm/vm_switch.py
  tests/test_parse.py
  tests/test_switch_vm.py
Due: isort, black, pytest

Path conditions:
  poetry: any of: pyproject.toml
  isort: any of: \.py$
  black: any of: \.py$
  pytest: any of: \.py$
